
:root {
    --clr-label-1: hsl(0, 100%, 67%);
    --clr-label-2: hsl(39, 100%, 56%);
    --clr-label-3: hsl(166, 100%, 37%);
    --clr-label-4: hsl(234, 85%, 45%);

    --clr-label-bg-1: hsla(0, 100%, 67%, .2);
    --clr-label-bg-2: hsla(39, 100%, 56%, .2);
    --clr-label-bg-3: hsla(166, 100%, 37%, .2);
    --clr-label-bg-4: hsla(234, 85%, 45%, .2);

    --clr-bg-grad1: hsl(252, 100%, 67%);
    --clr-bg-grad2: hsl(241, 81%, 54%);

    --clr-circ-grad1: hsla(256, 72%, 46%, 1);
    --clr-circ-grad2: hsla(241, 72%, 46%, 0);

    --clr-text-white: hsl(0, 0, 100%);
    --clr-text-pblue:  hsl(221, 100%, 96%);
    --clr-text-lav: hsl(241, 100%, 89%);
    --clr-text-dgb: hsl(224, 30%, 27%);
    
    --fw-regular: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;

    --fs-small: .8rem;
    --fs-regular: 1rem;
    --fs-large: 1.5rem;
    --fs-super: 2rem;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }*/

  /*
   end of Josh's Custom CSS Reset
   */

   
body {
  
  font-size: --fs-regular;
  background-color: var(--clr-text-white);
}


=======
/*body {
 
  font-size: --fs-regular;
  background-color: var(--clr-text-white);
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 375px;
  height: 100vh;
  align-items: center;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.result-box {
  width:375px;
  height: 48%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-11.71875rem, 0);
  background: linear-gradient(
                        var(--clr-bg-grad1),
                        var(--clr-bg-grad2));
  border-radius: 0 0 1rem 1rem;
  padding: 1rem 5rem;
  
}

.pblue-text {
  color: var(--clr-text-lav);
  font-weight: var(--fw-regular);
  text-align: center; 
  font-size: var(--fs-small);
  padding-bottom: .5rem;
}

.circle {
  width: 17vh;
  height: 17vh;
  position: relative;
  top: 1.5vh;
  left: 50%;
  transform: translateX(-8.5vh);
  justify-content: center;
  border-radius: 100%;
  background: linear-gradient(
              var(--clr-circ-grad1),
              var(--clr-circ-grad2));
  
  
}

.number {
  color: white;
  font-weight: var(--fw-extra-bold);
  font-size: var(--fs-super);
  text-align: center;
  padding-top: .5rem;
}

.white-text {
  color: var(--clr-text-pblue);
  font-weight: var(--fw-bold);
  font-size: var(--fs-large);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: .5rem;
} 
=======
  font-size: 2rem;
} */

